@using Microsoft.AspNetCore.Identity
@using ShopOnline.Models
@inject SignInManager<AuthUser> SignInManager
@inject UserManager<AuthUser> UserManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HERO FACTORY - @ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@200;600;700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" asp-append-version="true" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" asp-append-version="true" rel="stylesheet">
</head>

<body>
    <div id="mainBG">
        <!-- Spinner Start -->
        <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
        <!-- Spinner End -->

        <!-- Navbar Start -->
        <div class="container-fluid sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <a href="/" class="navbar-brand">
                    <h2 class="text-white">Hairnic</h2>
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto">
                            <a href="/Index" class="nav-item nav-link fw-bold text-uppercase">Home</a>
                            <a href="/About" class="nav-item nav-link fw-bold text-uppercase">About</a>
                            <a href="/Product" class="nav-item nav-link fw-bold text-uppercase">Product</a>
                            <a href="/Contact" class="nav-item nav-link fw-bold text-uppercase">Contact</a>
                            <partial name="/Pages/Admin/_LoginPartial.cshtml" />
                        </div>
                        @if(SignInManager.IsSignedIn(User))
                        {
                            @* <div class="">
                                <i class="bi bi-cart-fill"></i>
                            </div> *@
                            <a asp-page="/Cart" type="button" class="btn btn-special position-relative px-5">
                                <i class="bi bi-cart-fill"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    <p id="QuantityCart" class="m-0 p-0"></p>
                                </span>
                            </a>
                        }
                        else
                        {
                            <a asp-page="/Product" class="btn btn-special py-2 px-4 d-none d-lg-inline-block fw-bold text-uppercase">Shop Now</a>
                        }
                    </div>
            </nav>
        </div>
    </div>
        <!-- Navbar End -->


        @RenderBody()


        <!-- Newsletter Start -->
        <div class="container-fluid py-5 my-5">
        <div class="container bor-box py-5">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="text-white mb-3"><span class="highlight">Let's Subscribe</span> The Newsletter</h1>
                <p class="text-white mb-4">Subscribe now to get 30% discount on any of our products</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7 wow fadeIn" data-wow-delay="0.5s">
                    <div class="position-relative w-100 mt-3 mb-2">
                        <input class="form-control w-100 py-4 ps-4 pe-5" type="text" placeholder="Enter Your Email"
                               style="height: 48px;">
                        <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2">
                            <i class="fa fa-paper-plane highlight fs-4"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Newsletter End -->
        <!-- Footer Start -->
        <div class="container-fluid footer">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-4 wow fadeIn" data-wow-delay="0.1s">
                    <a href="index.html" class="d-inline-block mb-3">
                         <h1 style="color: #ff3d33;">Hairnic</h1>
                    </a>
                    <p class="mb-0 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet, erat non malesuada consequat, nibh erat tempus risus, vitae porttitor purus nisl vitae purus.</p>
                </div>
                <div class="col-4  offset-4 wow fadeIn text-white" data-wow-delay="0.3s">
                    <h5 class="mb-4 text-white">Get In Touch</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn rounded-circle btn-special me-3" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn rounded-circle btn-special me-3" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn rounded-circle btn-special me-3" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container wow fadeIn text-white" data-wow-delay="0.1s">
            <div class="copyright">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-special btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <!-- Template Javascript -->
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>