@page
@model IndexModelAdmin
@{
    Layout = "/Pages/admin/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
}

<h1 class="my-5 text-center text-primary">Welcome to Admin site!</h1>

@section Active{
    active
}