@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control"/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-special">Reset Password</button>
        </form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
